@function color($color_name) {
    @return map-get($colors, $color_name)
  }

.navbar {
    display: flex;
    width:100vw;
    height:6vh;
    background-color: color(primary);
    justify-content: space-between;
    position: absolute
}

.login {
    border: 2px solid red;
     
}

.btns {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-around;
}
