#dogs-card {
    overflow: hidden;
}


    #admin-card{
    height: 65vh;  
    overflow: auto;  
    }



.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    #btn-delete {
        border: 0px solid transparent;
    }
    #btn-edit {
        margin-right: 2rem;
    }
}
