.dog-detail-name {
    text-align: center;
    margin-top: $margin-dog-detail-name;
}

.dog-description-info {
    text-align: center;
    font-size: $dog-description-info;
}

.dog-description {
    font-size: $dog-description;
    text-align: center;
    padding: $detail-description-padding;
}
.btn-detail{
    display: flex; 
    
    .btn-adopt {
        margin: 0 auto;
        
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.fas.fa-paw {
    color: rgba(108, 178, 235, 0.5);
    margin: 0 0.5rem;
}

#walking {
    text-align: center;
    margin: 0 auto;
}

.callendar {
    display: flex;
}

.date-detail {
    text-align: center;
}

.btn-primary.btns-hours {
    padding: 0.7rem 1rem;
    border-radius: 10%;
    font-size: $btn-big;
}

.btns-detail-container {
    display: flex;
    justify-content: space-around;
}

.image-dog-detail {
    -webkit-box-shadow: 4px 4px 14px -2px rgba(0,0,0,0.42);
    -moz-box-shadow: 4px 4px 14px -2px rgba(0,0,0,0.42);
    box-shadow: 4px 4px 14px -2px rgba(0,0,0,0.42);
}

.hr-dog-detail {
    width: 80%;
    border-color: rgba(0, 0, 0, 0.171)
    
}

.bones-line {
    display: flex;
    justify-content: center;
    .fa-bone{
        color: rgba(108, 178, 235, 0.5);
        margin: 0 2rem;
    }
}

.form-review {
    display: flex;
    #comment-textarea{
        height: 20vh;
    }
}


.form-group.comment-form {
    width: 60vw;
    
    
    // align-self: center;
    margin: 0 auto;
}

@include sm {
    .form-group.comment-form {
        width: 80vw;
    }
}

.review-top-line {
    margin-top: -0.5rem;
}

.btn-flex {
    display: flex;
    flex-direction: row-reverse;
}

.btn.btn-success.btn-review {
    padding: 0.7rem 1rem;
    border-radius: 10%;
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: $btn-big;
    margin-bottom: 2rem;
}

.review-card {
    width: 70vw;
    margin: 0 auto;
    
    .comment-top-section {
        display: flex;
        justify-content: space-between;
        .review-name{
            font-size: 1.2rem;
            margin-right: 2rem;
        }
    }.votes-thumbs-container{
        
        .btn-like{
            border: none;
            margin-right: 2rem;
        }
        .btn-dislike {
            border: none;
        }
    }
}

.name-date-review{
    display: flex;
}

.admin-btns-review {
    display: flex;
    justify-content: flex-end;
    .btn-delete {
        margin-right: 1.5rem;
        border: none;
    } .btn-accept {
        border: none;
    }
}

.review-created-at {
    color:rgba(0, 0, 0, 0.452)
}


.review-txt {
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color:rgba(108, 178, 235, 0.349); 
}

.votes {
    margin-bottom: -1.5rem;
}

.hr-comment-line {
    margin: 2rem;
}
