.header-gallery {
    text-align: center;
    padding: $gallery-header-padding;
}

.title-gallery {
    font-size: $h1-gallery;
    padding: 1rem;
}

.description-gallery {
    padding: 2rem;
    font-size: 1.8rem;
}

.hr-gallery {
    width: 70vw;
}
